* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}

button {

    display: none;
}

.contenair {

    display : none;
}

.choice {

    display: none;
}

strong {

    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;
}

.forPrint {

    display: flex;
    border: 1px black solid;
    border-radius: 5%;

    height: 100vh;
}

