* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Outfit', sans-serif;

}

.contenair {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}


.animate__animated.animate__rotateIn {

    --animation-duration: 4s;
}

.contenair h1,
.right,
.left,
.results.hidden,
.results {

    margin: 1.2rem;
    padding: 1.2rem;
}

.hidden {

    display: none;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}

.right,
.left {

    width: 100%;
}
@media screen and (min-width : 800px) {

    .wrapper {
        flex-wrap: nowrap;
        width: 100%;
    }

    .right,
    .left {
        width: 50%;
    }
}

form,
button,
h1,
h2 {
    text-align: center;
    margin: 0.5rem;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px solid crimson;
    border-radius: 8%;
}

form h2 {
    margin-bottom: 2rem;
}

button {
    width: 100%;
}

button:hover {
    border: 1px solid white;
    background-color: rgb(186, 189, 11);

}

select {

    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    width: 100%;
    margin: 0.5rem;
    text-align: center;

}

img {
    width: 2rem;
}

strong {

    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;
}