* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Outfit', sans-serif;

}

.contenair {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.animate__animated.animate__rotateIn {

    --animation-duration: 4s;
}

.contenair h1,
.right,
.left,
.results.hidden,
.results {

    margin: 1.2rem;
    padding: 1.2rem;
}

.results {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.results p {

    display: block;
}

.results h1 {
    height: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;

}

.hidden {

    display: none;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}

.right,
.left {
    text-align: center;
    width: 100%;
}

@media screen and (min-width : 800px) {

    .wrapper {
        flex-wrap: nowrap;
        width: 100%;
    }

    .right,
    .left {
        width: 50%;
    }
}

form,
button,
h2 {
    text-align: center;
    margin: auto;
    line-height: 2;
}

h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px dashed rgb(218, 54, 49);
    border-radius: 2rem;
}

h2,
strong {
    color: rgb(218, 54, 49);
}

.pika {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-top: 2rem;
}

.crayons,
.groupe {
    margin: auto;
    text-align: center;
    width: auto;
    height: 5rem;
    border-radius: 50%;
}

@media screen and (min-width : 630px) {

    .div-crayons,
    .div-groupe,
    .results p {
        text-align: center;
    }

    .crayons,
    .groupe {
        height: 10rem;
        width: auto;
    }

    .results.hidden {
        display: none;
    }

    .results {
        display: block;
    }

    .results h1 {
        font-size: 1.2rem;
    }
}

form h2 {
    margin-bottom: 2rem;
}

button {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 2rem;
    margin-top: 2rem;
}


button:hover {
    border: 1px solid white;
    background-color: rgb(218, 54, 49);

}

select {

    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    width: 100%;
    margin: 0.5rem;
    text-align: center;
    border-radius: 2rem;
    height: 2rem;
    background-color: white;
    padding-left: 1rem;

}

img {
    width: 2rem;
}

strong {

    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5rem;
}
.print {
    display: none;
}