body {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    background-image: url(images/pokemon-g6e180dc65_1280.png);
    background-position: center;
    background-size: cover;
}

.contenair {
    width: 80%;
    /* background-color: beige; */
    border: 1px black solid;
    border-radius: 5%;
    margin: 3rem;
    padding: 2rem;
    overflow: hidden;
    text-align: center;
    border-image: url(images/pokemon-ge0ea4a705_1280.png);
    border-image-repeat: space;
}

.wrapper {
    display: flex;

}

.form {
    line-height: 2;
    width: 100%;
}

select {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border-radius: 2rem;
    height: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    background-color: white;
}

button {
    margin-top: 10px;
    /* width: auto; */
    height: auto;
    border-radius: 2rem;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    transition: all 0.2s;
    color: rgb(0, 0, 0);
    background-color: rgb(228 31 37);
    width: 80%;
}

button:hover {
    border: 1px solid white;
    background-color: rgb(22, 124, 9);

}

h1 {
    padding: 2rem;
    border: 0.1rem solid white;
    border-radius: 10%;
    text-align: center;
    color: rgb(255, 252, 250);
}

img {
    width: 2rem;
}

.logo {

    width: 9rem;

}

p {
    margin: 1rem;
}
.hidden {

    display: none;
}

.display{

    z-index: 2;
    width: auto;
}

@media screen and (max-width : 800px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contenair{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    section {
        width: 100%;
        font-size: 1.5rem;
    }

    h1 {
        font-size: 3rem;
    }
}

section {
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(220, 240, 232, 0.2);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    border: 1.3rem solid;
    border-image-source: url(images/pokemon-ge0ea4a705_1280.png);
    width: 50%;
    margin: 3rem;
    padding: 2rem;
    border-radius: 5%;
}


.intro {
    width: auto;
    color: rgb(8, 8, 8);
}

.error{
    
    position :absolute;
    width: 80%;
    text-align: center;
    justify-content: center;
    background-color: rgb(231, 123, 21, 0.9);
    border: 1px;
    border-radius: 5%;

}

.results {
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(220, 240, 232, 0.2);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    border: 1.3rem solid;
    border-image-source: url(images/pokemon-ge0ea4a705_1280.png);
    width: auto;
    margin: 3rem;
    padding: 2rem;
    border-radius: 5%;
}