body {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    background-image: url(images/pokemon-g6e180dc65_1280.png);
    background-position: center;
}

.contenair {
    width: 80%;
    /* background-color: beige; */
    border: 1px black solid;
    border-radius: 5%;
    margin: 3rem;
    padding: 2rem;
    overflow: hidden;
    text-align: center;
}

.wrapper {
    display: flex;

}

.form {
    line-height: 2;
    width: 100%;
}

select {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border-radius: 2rem;
    height: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    background-color: white;
}

button {
    margin-top: 10px;
    width: 25%;
    height: 1.5rem;
    border-radius: 2rem;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    transition: all 0.2s;
    color: palevioletred;
    background-color: greenyellow;
    width: 80%;
}

button:hover {
    border: 1px solid white;
    background-color: blueviolet;
}

h1 {
    text-align: center;
    color: aquamarine;
}


.hidden {

    display: none;
}

.display{

    z-index: 2;
    width: auto;
}

@media screen and (max-width : 800px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contenair{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    section {
        width: 100%;
        font-size: 1.5rem;
    }

    h1 {
        font-size: 3rem;
    }
}

section {
    text-align: center;
    background-color: aquamarine;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    border: 1px black solid;
    width: 50%;
    margin: 3rem;
    padding: 2rem;
    border-radius: 5%;
}

.error{
    
    position : absolute;
    top: 20rem;
    left: auto;
    width: 80%;
    height:auto;
    z-index: 2;
    text-align: center;
    justify-content: center;
    background-color: aquamarine;
    border: 1px black solid;
    border-radius: 5%;

}